In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
path = r'C:\Users\Valens\Documents\Python Anaconda\Instacart Basket Analysis'

In [19]:
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_clean.csv'), index_col = False)

In [6]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'order_products_prior.csv'), index_col = False)

In [8]:
df_ords_prior.shape

(32434489, 4)

In [7]:
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior[weird]) > 0:
    print (col)

In [9]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [10]:
df_dups1 =df_ords_prior[df_ords_prior.duplicated()]

In [11]:
df_dups1

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [22]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [23]:
df_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,0.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [24]:
df_ords.shape

(3421083, 8)

In [25]:
df_ords_prior.shape

(32434489, 4)

In [26]:
df_merged_large_inner = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
df_merged_large_inner.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [28]:
df_merged_large_inner['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [29]:
df_merged_large_outer = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [30]:
df_merged_large_outer['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [31]:
df_merged_large_outer

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,0.0,196.0,1.0,0.0,both
1,0,2539329,1,prior,1,2,8,0.0,14084.0,2.0,0.0,both
2,0,2539329,1,prior,1,2,8,0.0,12427.0,3.0,0.0,both
3,0,2539329,1,prior,1,2,8,0.0,26088.0,4.0,0.0,both
4,0,2539329,1,prior,1,2,8,0.0,26405.0,5.0,0.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...
32640693,3421081,2977660,206209,prior,13,1,12,7.0,38730.0,6.0,0.0,both
32640694,3421081,2977660,206209,prior,13,1,12,7.0,31477.0,7.0,0.0,both
32640695,3421081,2977660,206209,prior,13,1,12,7.0,6567.0,8.0,0.0,both
32640696,3421081,2977660,206209,prior,13,1,12,7.0,22920.0,9.0,0.0,both
32640697,3421082,272231,206209,train,14,6,14,30.0,NaN,NaN,NaN,left_only

In [32]:
df_merged_large_inner.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

In [33]:
# question 1 in exercise 4.6
df_merged_large_inner.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [6]:
df_test = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [ ]:
df_test.shape