In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Valens\Documents\Python Anaconda\Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_with_category.pkl'))

In [5]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,6,11,3.0,5,0,both,both,Mid-range product,Regularly busy days,Most orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,6,17,20.0,1,1,both,both,Mid-range product,Regularly busy days,Average orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,0,21,6.0,20,0,both,both,Mid-range product,Busiest days,Average orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,3,13,0.0,10,0,both,both,Mid-range product,Slowest days,Average orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,4,17,9.0,11,1,both,both,Mid-range product,Slowest days,Average orders

In [7]:
# Aggregated mean for all the datafram grouped by department ID
ords_prods_merge.groupby('department_id').agg('mean')

,Unnamed: 0_x,product_id,aisle_id,prices,Unnamed: 0_y,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
department_id,,,,,,,,,,,,,
1,24408.524991,24406.939662,69.638987,7.736553,1.714183e+06,1.711355e+06,103197.910180,15.457838,2.790508,13.681669,10.900348,8.998076,0.541764
2,27757.745915,27755.745006,6.000000,6.990934,1.712950e+06,1.715933e+06,103120.908572,17.277920,2.851368,13.498939,10.238792,8.277645,0.407980
3,23943.045971,23941.533409,100.900234,7.853809,1.707505e+06,1.710699e+06,102795.592602,17.170395,2.743055,13.398569,10.385240,8.093020,0.627889
4,27171.662308,27169.833725,63.624854,7.981708,1.708245e+06,1.710657e+06,102839.977379,17.811403,2.683672,13.424949,10.186943,8.022875,0.649913
5,26179.684377,26177.769929,59.719075,8.143701,1.726316e+06,1.712457e+06,103926.514021,15.215751,3.163153,13.594264,9.485471,5.428346,0.569924
6,23178.424122,23176.950964,55.123924,7.682264,1.707538e+06,1.707786e+06,102797.179961,16.439806,2.691937,13.518913,10.496154,9.947061,0.369229
7,24977.275517,24975.641727,78.909756,7.680502,1.711630e+06,1.711079e+06,103043.929131,17.225802,2.807199,13.314115,10.364676,6.975999,0.653461
8,23293.150078,23291.646230,40.648952,7.889070,1.719799e+06,1.713301e+06,103536.729461,15.340650,2.934893,13.578544,11.062978,7.718040,0.601324
9,25255.427507,25253.734390,54.489774,7.350283,1.710248e+06,1.711269e+06,102960.197036,15.895474,2.690505,13.546041,10.945917,10.212863,0.461076
10,18264.823822,18263.701501,42.882133,8.348960,1.702321e+06,1.717443e+06,102482.728661,20.197148,2.759061,13.458537,9.589564,8.399040,0.577040
11,23985.967241,23984.406927,59.592910,7.996769,1.703951e+06,1.711377e+06,102580.490873,16.170638,2.816660,13.486800,10.782118,8.752333,0.321296
12,23871.834430,23870.325849,74.889162,16.294443,1.708807e+06,1.712768e+06,102873.116154,15.887671,2.718082,13.468507,10.668190,8.528219,0.567678
13,25282.991920,25281.300483,61.946247,8.009443,1.710247e+06,1.711952e+06,102960.484341,16.583536,2.810497,13.458808,10.399840,9.593717,0.346722
14,26443.326997,26441.493093,106.281374,8.028963,1.710825e+06,1.709313e+06,102995.781356,16.773669,2.731141,13.330673,10.544440,9.125223,0.560550
15,23393.773439,23392.289574,73.887759,7.539976,1.705524e+06,1.712026e+06,102675.749021,16.165037,2.707202,13.453348,10.851046,9.947258,0.457405
16,25390.253721,25388.532939,79.182009,33.479533,1.711425e+06,1.710331e+06,103031.728994,17.665606,2.739654,13.367711,10.310359,7.499835,0.669690
17,24052.930496,24051.306783,76.748621,7.384058,1.708659e+06,1.711255e+06,102865.012866,15.694469,2.835449,13.349908,11.150964,8.492163,0.402178
18,25053.629917,25051.904109,89.919854,7.638380,1.711332e+06,1.706348e+06,103024.423943,19.310397,2.711004,13.397596,9.473627,10.575925,0.578971
19,25382.406787,25380.724173,68.334496,4.275437,1.710885e+06,1.710089e+06,102999.937311,17.177343,2.751490,13.360846,10.261979,9.187743,0.574180
20,25660.848091,25659.100628,61.769719,7.778701,1.705750e+06,1.709579e+06,102690.482049,16.473447,2.705505,13.481529,10.589108,8.693815,0.607719
21,26059.654538,26057.782761,100.000000,8.660716,1.714423e+06,1.718715e+06,103210.777121,22.902379,2.800853,13.454841,9.883679,9.339489,0.395849

# I feel that doing it on the entire dataframe is messy where there are too many data which could prone to mistake. Whereas making it subsets are easier to read

In [8]:
# Creating another column in the table with the maximum order by a specific user
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,11,3.0,5,0,both,both,Mid-range product,Regularly busy days,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,17,20.0,1,1,both,both,Mid-range product,Regularly busy days,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,21,6.0,20,0,both,both,Mid-range product,Busiest days,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,13,0.0,10,0,both,both,Mid-range product,Slowest days,Average orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,17,9.0,11,1,both,both,Mid-range product,Slowest days,Average orders,3

In [10]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [11]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [12]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

# Question 5

In [16]:
# question 5 the prices that is purchased by 3 different customer group
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

# Question 6

In [17]:
# Creating another column in the table base on the specific price
ords_prods_merge['max_spender'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [20]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_spender
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,5,0,both,both,Mid-range product,Regularly busy days,Most orders,32,Regular customer,6.935811
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,1,1,both,both,Mid-range product,Regularly busy days,Average orders,32,Regular customer,6.935811
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,20,0,both,both,Mid-range product,Busiest days,Average orders,5,New customer,7.930208
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,10,0,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,11,1,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414

In [26]:
# Categorise customer as low spender if their mean less than 10
ords_prods_merge.loc[ords_prods_merge['max_spender'] < 10, 'spending_flag'] = 'Low Spender'

In [27]:
# Categorise customer as high spender if their mean more than 10
ords_prods_merge.loc[ords_prods_merge['max_spender'] >= 10, 'spending_flag'] = 'High Spender'

In [28]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,...,reordered,_merge,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_spender,spending_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,...,0,both,both,Mid-range product,Regularly busy days,Most orders,32,Regular customer,6.935811,Low Spender
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,...,1,both,both,Mid-range product,Regularly busy days,Average orders,32,Regular customer,6.935811,Low Spender
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,...,0,both,both,Mid-range product,Busiest days,Average orders,5,New customer,7.930208,Low Spender
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,...,0,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low Spender
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,...,1,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low Spender

In [31]:
pd.options.display.max_columns = None

In [40]:
pd.options.display.max_rows = None

In [32]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_spender,spending_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both,both,Mid-range product,Regularly busy days,Most orders,32,Regular customer,6.935811,Low Spender
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both,both,Mid-range product,Regularly busy days,Average orders,32,Regular customer,6.935811,Low Spender
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both,both,Mid-range product,Busiest days,Average orders,5,New customer,7.930208,Low Spender
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,0.0,10,0,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low Spender
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low Spender

# Question 7

In [33]:
# Create a frequency flag base on the order behavior and find the mdeian in the days_since_prior_order"
ords_prods_merge['median_of_days_since_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [34]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_spender,spending_flag,median_of_days_since_prior_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both,both,Mid-range product,Regularly busy days,Most orders,32,Regular customer,6.935811,Low Spender,8.0
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both,both,Mid-range product,Regularly busy days,Average orders,32,Regular customer,6.935811,Low Spender,8.0
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both,both,Mid-range product,Busiest days,Average orders,5,New customer,7.930208,Low Spender,6.0
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,0.0,10,0,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low Spender,9.0
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low Spender,9.0

In [35]:
# If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
ords_prods_merge.loc[ords_prods_merge['median_of_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [37]:
# If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.
ords_prods_merge.loc[((ords_prods_merge['median_of_days_since_prior_order'] > 10) & (ords_prods_merge['median_of_days_since_prior_order'] <= 20)) , 'frequency_flag'] = 'Regular Customer'

In [38]:
# If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.
ords_prods_merge.loc[ords_prods_merge['median_of_days_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [39]:
ords_prods_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,exists,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,max_spender,spending_flag,median_of_days_since_prior_order,frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both,both,Mid-range product,Regularly busy days,Most orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both,both,Mid-range product,Regularly busy days,Average orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both,both,Mid-range product,Busiest days,Average orders,5,New customer,7.930208,Low Spender,6.0,Frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,0.0,10,0,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both,both,Mid-range product,Slowest days,Average orders,3,New customer,4.972414,Low Spender,9.0,Frequent customer

In [41]:
ords_prods_merge[['user_id','median_of_days_since_prior_order','frequency_flag']].head(60)

    user_id  median_of_days_since_prior_order         frequency_flag
0       138                               8.0      Frequent customer
1       138                               8.0      Frequent customer
2       709                               6.0      Frequent customer
3       764                               9.0      Frequent customer
4       764                               9.0      Frequent customer
5       777                              11.0       Regular Customer
6       825                              19.0       Regular Customer
7       910                               3.5      Frequent customer
8      1052                               9.5      Frequent customer
9      1052                               9.5      Frequent customer
10     1379                              20.0       Regular Customer
11     1480                               7.0      Frequent customer
12     1480                               7.0      Frequent customer
13     1480                               7.0      Frequent customer
14     1494                               6.0      Frequent customer
15     1494                               6.0      Frequent customer
16     1494                               6.0      Frequent customer
17     1540                               7.0      Frequent customer
18     1540                               7.0      Frequent customer
19     1540                               7.0      Frequent customer
20     1540                               7.0      Frequent customer
21     1540                               7.0      Frequent customer
22     1540                               7.0      Frequent customer
23     1540                               7.0      Frequent customer
24     1540                               7.0      Frequent customer
25     1540                               7.0      Frequent customer
26     1540                               7.0      Frequent customer
27     1540                               7.0      Frequent customer
28     1540                               7.0      Frequent customer
29     1540                               7.0      Frequent customer
30     1540                               7.0      Frequent customer
31     1540                               7.0      Frequent customer
32     1540                               7.0      Frequent customer
33     1540                               7.0      Frequent customer
34     1598                               2.0      Frequent customer
35     1598                               2.0      Frequent customer
36     1598                               2.0      Frequent customer
37     1647                              25.0  Non-frequent customer
38     1647                              25.0  Non-frequent customer
39     1647                              25.0  Non-frequent customer
40     1647                              25.0  Non-frequent customer
41     1647                              25.0  Non-frequent customer
42     2833                               5.0      Frequent customer
43     2850                               7.0      Frequent customer
44     2857                              10.0      Frequent customer
45     3010                               7.0      Frequent customer
46     3029                              28.0  Non-frequent customer
47     3395                              18.0       Regular Customer
48     3904                              15.0       Regular Customer
49     4006                               7.0      Frequent customer
50     4006                               7.0      Frequent customer
51     4006                               7.0      Frequent customer
52     4006                               7.0      Frequent customer
53     4006                               7.0      Frequent customer
54     4122                               7.0      Frequent customer
55     4141                              30.0  Non-frequent customer
56     4343                              15.0       Regular Customer
57     4553                              30.0  Non-frequent customer
58     4845                              17.0       Regular Customer
59     6866                              30.0  Non-frequent customer

In [42]:
#exporting the new  data
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_with_category_with_flag.pkl'))

In [4]:
test = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_with_category_with_flag.pkl'))

In [7]:
test['spending_flag'].value_counts()

Low Spender     31770746
High Spender      634113
Name: spending_flag, dtype: int64